.view {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.button-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.addButton {
  justify-self: flex-end;
  font-size: 38px;
  cursor: pointer !important;
  margin-right: 16px;
}
table {
  width: 100%;
}
.removeButton {
  cursor: pointer !important;
}
.loading-spinner {
  display: flex;
  align-self: center;
  align-content: center;
}
